*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/*===== Шаг 1.ЛЕЙАУТ =====*/

.content {
  width: 1140px;
  height: 534px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 30px;
}

.content__details {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}

.content__list {
  padding-bottom: 1px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 30px;
}

.content__details {
  flex-grow: 1;
  gap: 26px;
  opacity: 0px;
}

.content__video-card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: 103px;
  padding-left: 2px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  width: 194px;
  height: 103px;
}

/*===== Шаг 2. Уточнение размеров =====*/

.result {
  width: 711px;
  height: 386px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
}

.result__video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  padding: 2px;
}

/*===== Шаг 3. Позиционирование прелоадеров =====*/

.result__video-container {
  position: relative;
}

.content__list {
  position: relative;
}

/*===== Шаг 4. Стили текстов =====*/


.title {
  font-family: "Oswald";
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  opacity: 0.2;
}

.content__card-link {
  display: block;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: 0;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
/*===== Шаг 5. Элементы формы и кнопки =====*/

.search-form__fieldset {
  border: none;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  background-color: #1b1919;
  color: #fff;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #fff;
  font-size: 18px;
  width: 225px;
  height: 27px;
}

.search-form__textfield-title {
  line-height: 0;
}

.search-form__checkbox-list label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__checkbox-list label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  display: flex;
}



.search-form__pseudo-checkbox::before {
  content: "";
  display: none;
  margin: auto;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  display: block;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button {
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  cursor: pointer;
  background-color: #1b1919;
  color: #fff;
  border: 1px solid #fff;
  font-size: 18px;
  width: 194px;
  height: 34px;
  top: 20px;
  left: 517px;
  gap: 10px;
}

.more-button {
  width: 399px;
}
